# Permalinks
collections:
  posts:
    output: true
    permalink: /:year/:month/:day/:title/
    relative_permalinks: true
    
# Setup
title:          "SPUIRC : Robot Control"
paginate:       5
baseurl:        ""
url:            "https://syroco.github.io"

# Image directory
include: 
    - _img
# Assets
sass:
  sass_dir:     _sass
  style:        :compressed

# Build settings
markdown:       kramdown
# !github-pages! mandatory › https://help.github.com/articles/using-jekyll-with-pages/#configuration-settings-you-cannot-change
# Since Jekyll 3 the default highlighter is Rouge (replaced Pygments.rb in v44)
highlighter: rouge

# More › http://kramdown.gettalong.org/quickref.html
# Options › http://kramdown.gettalong.org/options.html
kramdown:
  input:          GFM
  # https://github.com/jekyll/jekyll/pull/4090
  syntax_highlighter: rouge

  # Rouge Highlighter in Kramdown › http://kramdown.gettalong.org/syntax_highlighter/rouge.html
  # span, block element options fall back to global
  syntax_highlighter_opts:
    # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: 'highlight'
    #line_numbers: true # bad idea, spans don't need linenos and would inherit this option
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# About
author:
  name:         ISIR-UPMC-CNRS
  url:          www.isir.upmc.fr
  email:        hoarau.robotics@gmail.com

# Custom vars
version:        0.1.0
github:
  repo:         https://github.com/syroco/syroco.github.io

# Gems
gems:
  - jekyll-paginate
  - jekyll-gist
