# Permalinks
collections:
  posts:
    output: true
    permalink: /:year/:month/:day/:title/
    relative_permalinks: true
    
# Setup
title:          "SPUIRC : Robot Control"
paginate:       5
baseurl:        ""
url:            "https://syroco.github.io"

# Image directory
include: 
    - _img
    - _posts
# Assets
sass:
  sass_dir:     _sass
  style:        :compressed

# Build settings
markdown:       kramdown
hightlight:     rouge
# About
author:
  name:         Antoine Hoarau
  url:          https://ahoarau.github.io
  email:        hoarau.robotics@gmail;com

# Custom vars
version:        0.1.0
github:
  repo:         https://github.com/syroco/spuirc

# Gems
gems:
  - jekyll-paginate
  - jekyll-gist
